canvas{
    background-color: gray;
    aspect-ratio: 2/3;
    width: 100%;
    max-width: 500px;
}

section {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

button{
    margin: 50px;
    width: 100%;
}