canvas{
    background-color: gray;
    display: flex;
    margin: auto;
}

section {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

#buttonReset{
    margin: auto;
    margin-top: 50px;
    width: 100%;
}

.buttonControl {
    margin: auto;
    margin-top: 50px;
    width: 80px;
    height: 80px;
}

p {
    width: 100%;
    text-align: center;
}